# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/

# Veri dosyaları
aktinograph/
csv_output/
*.tif
*.TIF
*.zip
*.csv

# Debug çıktıları
*_debug.png

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

Veriler_H/
Termogram/
Mareogram/
Barograph/
MicroBarograf-Osmanlica/

Hackathon Katılımcı Rehberi.docx